<div class="d-flex justify-content-center">
    <div class="card text-center card-custom text-color-custom" style="width: 25rem;">
        <h3>Painel Administrativo</h3>
        <div class="card-box">
            <a href="/admin/categories/"><button class="btn mb-2 btn-custom">Gerenciar categorias</button></a>
            <a href="/admin/posts/"><button class="btn mb-2 btn-custom">Gerenciar publicações</button></a>
        </div>
    </div>
</div>



