<div  class="d-flex justify-content-center">
    <div class="card text-center" style="width: 25rem;">
        <h3>Painel Administrativo</h3>
        <div class="card-box">
            <a href="/admin/categories/"><button class="btn btn-primary mb-2">Gerenciar categorias</button></a>
            <a href="/admin/posts/"><button class="btn btn-primary mb-2">Gerenciar publicações</button></a>
        </div>
    </div>
</div>



