<div class="card card-custom text-color-custom p-5">
    <div class="card-body">
        <h1 class="title-post-custom">{{post.titulo}}</h1>
        <p class="mt-5 post-content-custom">{{post.content}}</p>
        <hr class="my-4">
        <div class="d-flex justify-content-between">
            <small>Data de publicação: {{post.date}}</small>
            <small>Autor(a): {{post.author}}</small>
        </div>
        <hr class="my-4">
    </div>
</div>