<div class="card-body text-color-custom p-5">
    <h1>Categorias: </h1>
    <ul class="list-group mt-5">
        {{#each categories}}
        <li class="list-group-item card-custom">
            <a href="/categories/{{slug}}" class="custom-nav text-decoration-none"><h5>{{nome}}</h5></a>
            <small class="text-color-custom">Descrição</small>
        </li>
        <hr class="my-4">
        {{else}}
            <h5>Nenhuma categoria registrada</h5>
        {{/each}}
    </ul>  

</div>