<div class="p-5 rounded-lg text-color-custom">
    <div class="d-flex justify-content-center">
        <div class="card text-center card-custom" style="width: 25rem;">
            <div class="card-body">
                <form accept="/users/login" method="post">
                    <div class="form-outline mb-4">
                        <input type="email" name="email" class="form-control form-custom" required placeholder="Email">
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" name="password" class="form-control form-custom" required placeholder="Senha">
                    </div>
                    <button class="btn btn-block mb-4 btn-custom" type="submit">Entrar</button>
                    <div class="text-center">
                        <p>Não possui conta? <a class="text-decoration-none" href="/users/register">Criar conta</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


